---
import Github from '../icons/Github.astro'
---

<footer
	class="text-md flex h-auto w-full items-center justify-center gap-5 px-2 py-4 text-gray-800 dark:text-slate-300"
>
	<div>
		© 2024 • Built by
		<a
			href="https://albenisolmos.vercel.app"
			class="font-bold hover:text-blue-300"
		>
			Albenis Olmos.
		</a>
	</div>
	<a
		href="https://github.com/albenisolmos/scalimeter"
		target="_blank"
		rel="noopener"
		class="hover:text-blue-300"
	>
		<Github class="size-6" />
	</a>
</footer>
