---
	import Github from '../icons/Github.astro'
	import SourceCode from '../icons/SourceCode.astro'
	import Pill from './Pill.astro'
---
<footer class='flex flex-col justify-center items-center gap-2 px-2 py-4 h-auto w-full text-sm text-gray-800'>
	Built by Albenis Olmos, 2024
	<div class='flex gap-2 items-center'>
		<Pill href='https://github.com/albenisolmos/'>
			<Github class='size-6'/>
			Github
		</Pill>

		<Pill href='https://github.com/albenisolmos/scalimeter'>
			<SourceCode class='size-6'/>
			Source Code
		</Pill>
	</div>
</footer>
