---
import Ruler from '../icons/Ruler.astro'
---

<header
	class="mx-auto w-min p-4 font-mono text-4xl font-bold tracking-[0.3em] text-slate-800 md:text-2xl dark:text-slate-100"
>
	Scalimeter
	<div class="w-full text-slate-600"><Ruler /></div>
</header>
