---
	import Ruler from '../icons/Ruler.astro'
---
<header class='mx-auto p-4 w-min text-2xl font-mono font-bold tracking-[0.3em] text-slate-800 dark:text-slate-100'>
    Scalimeter
	<div class='w-full text-slate-600'><Ruler /></div>
</header>
